<!--logo start-->
<div class="brand">
    <a href="#" class="logo">        
        <i class="hidden-xs">
            <img src="img/BW_MCT.png" class="pull-left" ng-src="img/BW_MCT.png" style="height:45px;margin-right: 0px;margin-top: -10px;">
        </i>
        <div class="col-sm-8" style="margin-right:0;padding-right:0;">
            <span>SIMTech</span>&nbsp;MCT<sup>TM</sup>
        </div>
    </a>
</div>
<!--logo end-->
<ul class="nav navbar-nav navbar-left">
    <li class="toggle-navigation toggle-left" toggle-left-sidebar></li>
    <!--<li class="hidden-xs">
        <button type="button" class="btn btn-default" id="header-icon">
            <i class="fa fa-bell"></i>
        </button>
    </li>-->
     
</ul>
<ul class="nav navbar-nav navbar-right">
    <!--<li class="visible-xs" style="padding-right:1em">
        <button type="button" class="btn btn-default">
            <i class="fa fa-bell"></i>
        </button>
    </li>-->
    <li class="hidden-xs">
        <div class="timelabeltest">{{today| date : 'hh:mma' }}</div> </br>
        <div class="datelabeltest">{{today| date : 'dd-MMM-yyyy' }}</div>
    </li>
    <!--<li class="hidden-xs" >
        <button type="button" class="btn btn-default" id="header-icon">
            <i class="icon-refresh"></i>
        </button>
    </li>-->
</ul>





