<div class="pageheader">
    <h2>Industrial Symbiosis</h2>
    <p class="description"><!--put here--></p>
    <div class="breadcrumb-wrapper hidden-xs">

    </div>
</div>
<section id="main-content">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="panel panel-default">
                <div class="row">
                    <div class="col-md-5 col-lg-5">
                        <div style="padding-left:120px; padding-top:40px; padding-bottom:20px; padding-right:0px;" class="panel-body">

                            <img src="../../img/engineer.png" style="width:404px;height:500px;">
                        </div>
                    </div>
                    <div class="col-md-7 col-lg-7">
                        <div class="panel-body" style="padding-right:40px; padding-left:20px">

                            <p style="text-shadow:1px 1px 3px rgba(12,20,16,0.8);font-weight:normal;color:#245C54;background-color:#FFFFFF;letter-spacing:1pt;word-spacing:2pt;font-size:46px;text-align:left;font-family:arial black, sans-serif;line-height:1.5;margin:0px;padding-top:100px; padding-left:0px; padding-right:20px">Page under construction!</p>
                            <br /><br />
                            <p style="padding-right:20px; font-size:20px"><b>This page is still a work in progress, stay tuned for exciting updates! =)</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</section>